<!doctype html>
<html>
  <head>
    <title>Who Says?</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='mobile-web-app-capable' content='yes'>
    <link rel='icon' href='/public/icon.png'>
    <link rel='apple-touch-icon' href='/public/icon.png'>

    <link href='http://fonts.googleapis.com/css?family=Karla:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.min.css" type="text/css" />
    <link rel='stylesheet' href='/public/style.css'>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js"></script>

  </head>

  <body class="index">

    <main>
      <img src="https://cldup.com/R9ZSU8OjKZ.gif" width="150" alt="Who Says?" class="logo" />

      <div class="host">
        <a class="host__button" href="#host">Host Game</a>
        <form action="/host" method="post" >
          <input type="text" name="room" />

          <br />
          <button class="button">Give me another</button>
          <input class="button" type="submit" value="That sounds right" />
        </form>
      </div>

      <form class="join">
        <label>Join Game
          <input type="text" name="join" />
        </label>

        <input class="button" type="submit" value="Go" />
      </form>

    </main>

  </body>

  <script>
    (function(){
        var $join = $('.join'),
            $input = $join.find('input[type="text"]');

        $join.on('submit', function(e){
          e.preventDefault();
          if(!$input.val())
            return;

          window.location.href = '/'+$input.val();
        });
    })();

    (function(){
        var $host = $('.host'),
            $button = $host.children('.host__button'),
            $form = $host.children('form'),
            $input = $form.children('input[type="text"]'),
            $another = $form.children('button'),
            $submit = $form.children('input[type="submit"]');

        $button.add($another).on('click', function(e){
          e.preventDefault();
          $.get('/randomname', function(data){
            $button.hide();
            $form.show();
            $input.val(data).focus();
          });
        });

        $form.on('submit', function(e){
          if(!$input.val()){
            e.preventDefault();
          }
        });
    })();
  </script>
</html>
